<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>WatchThis</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>CFBundleDisplayName</key>
	<string>Watch This</string>
	<key>CFBundleIdentifier</key>
	<string>com.rangic.watchthis</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleIconFile</key>
	<string>WatchThis</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>watchthisslideshow</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WatchThisSlideshow</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>WatchThis</string>
		</dict>
	</array>
</dict>
</plist>
