<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/WatchThis/Logs"/>

    <targets>
        <target name="logfile" xsi:type="File"
        	fileName="${logDirectory}/WatchThis.txt"
        	layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level} [${threadname}-${threadid}] [${callsite:fileName=false:includeSourcePath=false:methodName=false}] ${message}" 
        	maxArchiveFiles="10" archiveFileName="${logDirectory}/archived/WatchThis-{##}" archiveEvery="Day" archiveNumbering="Rolling" />
        <target name="console" xsi:type="ColoredConsole" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile,console" />
    </rules>
</nlog>